VITE_EMAILJS_SERVICE_ID=service_klp2hub
VITE_EMAILJS_TEMPLATE_ID=template_2qafsor
VITE_EMAILJS_PUBLIC_KEY=gBps1K1Bw-P0lI3dY
VITE_FRONTEND_URL=http://localhost:5173
#DB-conect-Remote
DB_USER='admin';
BD_NAME='usuariosDB';
DB_PASSWORD='Admin.12345678';
st:5173
